<h1>User info</h1>
<%= image_tag @user.get_profile_image(100,100)%>
<%= @user.name%>
<%= @user.introduction %>
<%= link_to edit_user_path(@user) do %>
<i class="fa-solid fa-user-gear"></i>
<% end %>


<%= render 'books/new',book: @book %>

<h1>Books</h1>
<% @books.each do |book| %>
<%= image_tag book.user.get_profile_image(100,100) %>
<%= book.user.name %>
<%= link_to book_path(book) do%>
<%= book.title %>
<% end %>
<%= book.body %>


<% end %>